[Unit]
Description=Start the Slideshow Service
After=mnt-photos.mount

[Service]
Type=simple
Environment=DISPLAY_ERROR=1 CACHE_DIR=/mnt/photos/_cache
ExecStart=/bin/sh -c "cd /mnt/photos && rayimg $(cat active_slideshow.txt)"
Restart=on-failure
RestartSec=30
TimeoutStartSec=infinity
